<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="appSettings" type="System.Configuration.AppSettingsSection, System.Configuration" />
	</configSections>
	<appSettings>
		<add key ="CurrentUserID" value =""/>
		<add key ="CurrentUserName" value =""/>
		<add key ="Password" value =""/>
		<add key ="Email" value =""/>
		<add key ="UserType" value =""/>
		<add key ="UserBrand" value =""/>
		<add key ="Status" value =""/>
	</appSettings>
</configuration>